$background-color: black;
$font-color: white;
$font-alter: limegreen;

$main-border-space: .5rem;
$main-border-style: 1px solid $font-color;

// Screen variable
$screen-xxlg: 1799px;
$screen-xlg: 	1499px;
$screen-lg: 	1199px;
$screen-md: 	991px;
$screen-sm: 	767px;
