    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__left">
                    <h1 class="footer__title">Chrobok</h1>
                </div>
                <div class="footer__right">
                    <p class="footer__arr">
                        ©Karol Chrobok. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>