<header class="header">
    <div class="header__inner">
        <a href="/" class="header__title header__left title">Chrobok</a>
        <%- include('./navigation.ejs') %>
        <div class="header__social header__right">
            <a class="header__icon" target="_blank" href="https://github.com/Pokerek"><i class="fa-brands fa-github"></i></a>
            <a class="header__icon" target="_blank" href="https://www.linkedin.com/in/karol-chrobok/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</header>