<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/header.ejs') %>
        <main class="main">
            <div class="container">
                <section class="super-box">
                    <h1>Page Not Found!</h1>
                </section>
            </div>
        </main>
    <%- include('includes/footer.ejs') %>