<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
        <main class="main">
            <div class="container">
                <section class="welcome super-box">
                    <div class="welcome__inner">
                        <img src="./images/logo.png" alt="Logo images" class="welcome__img">
                        <div class="welcome__arrow">
                            <h1 class="welcome__link">
                                HELLO FRIEND<p class="welcome__command-line">|</p>
                            </h1>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    <%- include('./includes/footer.ejs') %>