<section class="about super-box" id='about'>
    <h2 class="about__title title">About.me</h2>
    <div class="about__inner">
        <div class="about__left">
            <h3 class="about__subtitle">My name is 'Karol'</h3>
            <p class="about__info">Experience: <span>0.5 year</span></p>
            <p class="about__info">Profession: <span>Webdeveloper</span></p>
            <p class="about__info">Level: <span>Junior</span></p>
            <p class="about__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti velit fugit incidunt ipsa,
                architecto fugiat. Dignissimos amet, ipsam incidunt quia tenetur nam, quidem ducimus voluptas
                animi, magnam quod nesciunt molestias.
            </p>
        </div>
        <div class="about__right">
            <img src="./images/author.png" alt="Author photo" class="about__img">
        </div>
    </div>
</section>
<section class="skills super-box" id='skills'>
    <h2 class="skills__title title">Skills.bar</h2>
    <article class="skills__box">
        <h3 class="skills__name">HTML - 90%</h3>
        <div class="skills__bar"><span class="skills__progress html"></span></div>
    </article>
    <article class="skills__box">
        <h3 class="skills__name">CSS - 65%</h3>
        <div class="skills__bar"><span class="skills__progress css"></span></div>
    </article>
    <article class="skills__box">
        <h3 class="skills__name">SASS - 60%</h3>
        <div class="skills__bar"><span class="skills__progress sass"></span></div>
    </article>
    <article class="skills__box">
        <h3 class="skills__name">JS - 50%</h3>
        <div class="skills__bar"><span class="skills__progress js"></span></div>
    </article>
    <article class="skills__box">
        <h3 class="skills__name">GIT - 70%</h3>
        <div class="skills__bar"><span class="skills__progress git"></span></div>
    </article>
</section>

<section class="contact super-box" id="contact">
    <h2 class="contact__title title">Contact.form</h2>
    <form action='#' class="form">
        <div class="form__flex">
            <div class="form__item form__item-small">
                <label for="name" class="form__label">Your name:</label>
                <input type="text" id="name" class="form__input">
            </div>
            <div class="form__item form__item-small">
                <label for="email" class="form__label">Your email:</label>
                <input type="email" id="email" class="form__input">
            </div>
        </div>
        <div class="form__item">
            <label for="message" class="form__label">Your message:</label>
            <textarea id="message" class="form__input form__textarea" cols="30" rows="5"></textarea>
        </div>
        <div class="form__last">
            <button type="submit" class="form__btn">Enter<i class="fas fa-chevron-circle-right"></i></button>
        </div>
    </form>
</section>