/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 12px;
}

body {
  color: white;
  font-size: 14px;
  font-family: "JetBrains Mono", monospace;
  background-color: black;
}

img {
  max-width: 100%;
}

.main {
  background-color: black;
}

.title {
  font-size: 2.25rem;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.super-box {
  height: calc(100vh - 8rem - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.super-box__left {
  min-width: 230px;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid white;
}
.super-box__right {
  overflow: auto;
}
.super-box__left, .super-box__right {
  height: calc(100% - 2rem);
  display: flex;
  padding: 1rem;
}

.btn {
  border: none;
  background-color: black;
  color: white;
  font-size: 2rem;
  min-width: 3rem;
  min-height: 2rem;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}
.btn:hover {
  color: limegreen;
  transition: color 0.5s ease-in-out;
}
.btn.active {
  color: limegreen;
}
.btn__text {
  font-size: inherit;
  min-width: 0;
  min-height: 0;
  display: inline;
}

.star {
  position: relative;
}
.star__start {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  padding-left: 0.75em;
}
.star__start::before {
  left: 0;
}
.star__end {
  padding-right: 0.75em;
}
.star__end::after {
  right: 0.25em;
}
.star__start::before, .star__end::after {
  content: "*";
  font-size: 0.75em;
  position: absolute;
  top: -0.25em;
}

.alter {
  color: limegreen;
  text-decoration: none;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  border: 3px solid white;
}

@media (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 600px;
  }
  .super-box {
    flex-direction: column;
  }
  .super-box__left, .super-box__right {
    flex-grow: 1;
    width: 100%;
    border-right: none;
  }
  .super-box__left {
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  .title {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 400px;
  }
  .super-box {
    margin: 0;
    padding: 0;
    height: calc(100vh - 9rem - 2px);
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 350px;
  }
}
.header {
  border-bottom: 1px solid white;
}
.header__inner {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4rem;
}
.header__left {
  left: 0;
}
.header__right {
  left: calc(100vw - 6.5rem);
  display: flex;
}
.header__icon {
  font-size: 2.5rem;
}
.header__icon:not(:last-child) {
  margin-right: 1rem;
}
.header__icon, .header__icon:visited {
  color: white;
  text-decoration: none;
}
.header__icon i {
  transition: color 0.5s ease-in-out;
}
.header__icon i:hover {
  color: limegreen;
  transition: color 0.5s ease-in-out;
}
.header__left, .header__right {
  position: absolute;
}
.header__title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}
.header__title:hover {
  color: limegreen;
  transition: color 0.5s ease-in-out;
}
@media (max-width: 991px) {
  .header__title {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .header__left {
    position: relative;
    z-index: 1000;
  }
}

.nav__list {
  padding: 0.25rem 0.5rem;
  border-left: 2px solid white;
  border-right: 2px solid white;
  display: inline-block;
}
.nav__item {
  display: inline;
  font-size: 1.75rem;
  margin: 0 0.5rem;
}
.nav__item a:visited, .nav__item a {
  color: white;
  text-decoration: none;
}
.nav__item a {
  transition: color 0.5s ease-in-out;
}
.nav__item a:hover {
  color: limegreen;
  transition: color 0.5s ease-in-out;
}
.nav--active {
  transform: translateX(0px);
}

.hamburger {
  display: none;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}
.hamburger__box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}
.hamburger__inner:before, .hamburger__inner:after {
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  content: "";
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}
.hamburger__inner:before {
  top: -10px;
}
.hamburger__inner:after {
  top: 10px;
}
.hamburger--active .hamburger__inner {
  background-color: transparent;
}
.hamburger--active .hamburger__inner:before {
  transform: translateY(10px) rotate(45deg);
}
.hamburger--active .hamburger__inner:after {
  transform: translateY(-10px) rotate(-45deg);
}

.hamburger,
.nav {
  transition: transform 0.3s 0.1s ease-in-out;
}

@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: 1000;
  }
  .nav {
    height: 100vh;
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translatex(-50vw);
    background-color: black;
    color: white;
  }
  .nav__item {
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
  }
  .nav__item:not(:last-child) {
    border-bottom: 1px solid white;
  }
  .nav__item > a {
    display: block;
  }
  .nav__list {
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    border-top: 1px solid white;
  }
  .nav--active {
    transform: translatex(0px);
  }
}
.footer {
  border-top: 1px solid white;
}
.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
@media (max-width: 767px) {
  .footer {
    z-index: 1000;
    position: relative;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.welcome__inner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.welcome__img {
  max-width: 400px;
  margin-bottom: 1rem;
}
.welcome__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome__title {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.welcome__title i {
  font-size: 4rem;
  margin: 0 1rem;
}
.welcome__text {
  font-size: 2rem;
  margin-top: 0.5rem;
}
.welcome__btn {
  background-color: limegreen;
  color: black;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
}
.welcome__btn:hover {
  color: white;
}
.welcome__command-line {
  -webkit-animation: fade-in 0.5s ease-in-out 0.5s infinite alternate backwards;
  animation: fade-in 0.5s ease-in-out 0.5s infinite alternate backwards;
}
@media (max-width: 1199px) {
  .welcome__img {
    max-width: 320px;
  }
}
@media (max-width: 991px) {
  .welcome__img {
    max-width: 300px;
  }
}
@media (max-height: 660px) {
  .welcome__img {
    display: none;
  }
}
@media (max-height: 660px) {
  .welcome__img {
    display: none;
  }
}
@media (max-height: 290px) {
  .welcome__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .welcome__text {
    font-size: 1.5rem;
  }
  .welcome__btn {
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.project__inner {
  flex-wrap: wrap;
}
.project__link {
  display: block;
  color: white;
  text-decoration: none;
  width: 50%;
}
.project__box {
  padding: 0.5rem;
}
.project__name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: center;
}
.project__img {
  transition: filter 0.6s ease-in-out;
  filter: grayscale(1);
}
.project__link:hover .project__img {
  filter: grayscale(0);
}
@media (max-width: 991px) {
  .project__link {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .project__link {
    width: 100%;
  }
  .project__title {
    height: 50px;
  }
  .project__inner {
    height: 100vh;
    overflow: auto;
  }
}

.about__title {
  margin-bottom: 1rem;
}
.about__btn {
  padding: 0.5rem;
}
.about__btn::before {
  content: ">";
  margin-right: 0.2rem;
  visibility: hidden;
}
.about__btn.active::before {
  visibility: visible;
}
.about__inner {
  display: none;
  flex-direction: column;
  margin-right: 0.5rem;
  align-items: flex-start;
  width: 100%;
}
.about__inner.active {
  display: flex;
}
.about__box {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about__box:last-child {
  border: none;
}
.about__subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}
.about__head-info {
  font-size: 1.2rem;
}
.about__info {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0.25rem;
  line-height: 1rem;
  display: block;
}
.about__text {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.about__subtext {
  font-size: 1.3rem;
  color: limegreen;
  display: inline-block;
  text-align: left;
}
.about__textbox {
  border: 2px dotted white;
  padding: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1.3rem;
  line-height: 2rem;
}
.about__img {
  border-radius: 1rem;
}
.about__list {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.about__item {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}
.about__link {
  text-decoration: none;
  font-weight: bold;
}
.about__link:visited {
  color: limegreen;
}
@media (max-width: 991px) {
  .about__left {
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about__btn {
    width: 50%;
  }
  .about__title {
    width: 100%;
  }
}

.journal__inner {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
}

.post {
  border: 2px dotted white;
  padding: 0.5rem;
}
.post:not(:last-child) {
  margin-bottom: 1rem;
}
.post__header {
  border-bottom: 1px dotted white;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post__text {
  line-height: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
