.about {
    &__title {
        margin-bottom: 1rem;
    }

    &__btn {
        padding: .5rem;
    }

    &__btn::before {
        content: ">";
        margin-right: .2rem;
        visibility: hidden;
    }

    &__btn.active::before {
        visibility: visible
    }

    &__inner {
        display: none;
        flex-direction: column;
        margin-right: .5rem;
        align-items: flex-start;
        width: 100%;
    }

    &__inner.active {
        display: flex;
    }

    &__box {
        padding-bottom: .5rem;
        margin-bottom: .5rem;
        border-bottom: 2px solid $font-color;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:last-child {
            border: none;
        }
    }

    &__subtitle {
        font-size: 1.5rem;
        margin-bottom: .75rem;
    }

    &__head-info {
        font-size: 1.2rem;
    }

    &__info {
        font-size: .9rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: .25rem;
        line-height: 1rem;
        display: block;
    }

    &__text {
        font-size: 1.2rem;
        margin: .5rem 0;
        line-height: 2rem;
    }

    &__subtext {
        font-size: 1.3rem;
        color: $font-alter;
        display: inline-block;
        text-align: left;
    }

    &__textbox {
        border: 2px dotted $font-color;
        padding: .5rem;
        margin-left: .5rem;
        font-size: 1.3rem;
        line-height: 2rem;
    }

    &__img {
        padding: .25rem;
        margin-bottom: .5rem;
        height: 3.5rem;
        border-radius: .25rem;
        background-color: $font-color;
    }


    &__list {
        margin-top: .5rem;
        margin-left: .5rem;
    }

    &__item {
        margin-bottom: .5rem;
        line-height: 1.5rem;
    }

    &__link {
        text-decoration: none;
        font-weight: bold;
        color: $font-alter;
        &:visited {
            color: $font-alter;
        }
    }

    @include mq($screen-md) {
        &__left {
            height: 100px;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__btn {
            width: 50%;
        }

        &__title {
            width: 100%;
        }
    }
}