@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.welcome {
    &__inner {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    &__img {
        max-width: 400px;
        margin-bottom: 1rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        color: $font-color;
        font-size: 3rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        i {
            font-size: 4rem;
            margin: 0 1rem;
        }
    }

    &__text {
        font-size: 2rem;
        margin-top: .5rem;
    }

    &__btn {
        background-color: $font-alter;
        color: $background-color;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: .25rem;
        text-decoration:none;

        &:hover {
            color: $font-color;
        }
    }

    &__command-line {
        -webkit-animation: fade-in 0.5s ease-in-out 0.5s infinite alternate backwards;
        animation: fade-in 0.5s ease-in-out 0.5s infinite alternate backwards;
    }

    @include mq($screen-lg) {
        &__img {
            max-width: 320px;
        }
    }
    @include mq($screen-md) {
        &__img {
            max-width: 300px;
        }
    }

    @media (max-height: 660px) {
        &__img {
            display: none;
        }
    }

    //Low height of page
    @media (max-height: 660px) {
        &__img {
            display: none;
        }
    }

    @media (max-height: 290px) {
       &__title {
            font-size: 2rem;
            margin-bottom: .5rem;
       }
       &__text {
            font-size: 1.5rem;
       }
       &__btn {
            margin-top: .5rem;
            padding: .5rem;
            font-size: 1.5rem;
            line-height: 2rem;
       }
    }
}