<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="main">
                <div class="container">
                    <section class="about super-box">
                        <h2 class="about__title title super-box__left"><%= title %></h2>
                        <div class="about__inner super-box__right">
                            <article class="about__box">
                                <h3 class="about__subtitle">My name is 'Karol'</h3>
                                <p class="about__info">Profession: <span class="about__subinfo">Webdeveloper</span></p>
                                <p class="about__info">Level: <span class="about__subinfo">Junior</span></p>
                            </article>
                            <article class="about__box">
                                <h3 class="about__subtitle">Personal profile</h3>
                                <p class="about__text">
                                    I’m looking for an opportunity
                                    to start my career as a Node.js
                                    developer and rise into fullstack developer. I have been
                                    looking for the right path for
                                    long time and now I know it’s
                                    the backend based on Node.js
                                </p>
                            </article>
                            <article class="about__box">
                                <h3 class="about__subtitle">Experience & <a href="/project.file" class="about__link">Projects</a></h3>
                                <h4 class="about__subinfo">Junior Frondend Developer</h4>
                                <p class="about__info">( Meetmedia Sp. z o.o. - 8 months, Remote )</p>
                                <ul class="about__list">
                                    <li class="about__item">
                                        I was cut layouts from Photoshop file. I used html and Sass to create all files.
                                    </li> 
                                    <li class="about__item">
                                        I helped clients as helpdesk to solve them issues with live websites.
                                    </li>
                                    <li class="about__item">
                                        I managmented in three person team.
                                    </li>
                                </ul>
                            </article> 
                            <article class="about__box">
                                <h3 class="about__subtitle">Languages & Soft skills</h3>
                                <p class="about__info"> 
                                    <span class="about__subinfo">English - B1</span>
                                    <span>|</span>
                                    <span class="about__subinfo">Polish - Native</span>
                                </p>
                                <ul class="about__list">
                                    <li class="about__item">Hardworking on deadlines</li>
                                    <li class="about__item">Creative solution delivery</li>
                                    <li class="about__item">Fast learning efficient man</li>
                                    <li class="about__item">Born leader</li>
                                </ul>
                            </article> 
                            <article class="about__box">
                                <h3 class="about__subtitle">Learn map (Soon...)</h3>
                            </article> 
                        </div>
                    </section>
                </div>
            </main>
            <%- include('../includes/footer.ejs') %>